<!--form class="inputForm">
    <div>Name</div>
    {{textField dataAttribs='{"text":"Hello", "class": "text-field"}'}}
    {{textField }}
    </form-->
<form id="myForm">
  <input id="textInput" type="text"></input>
  <input type="submit" onclick="{{textField}}"></input>
</form>
<script src="modules/module-presets/handleForm.js" type="text/javascript"></script>
