<!--form class="inputForm">
    <div>Name</div>
    {{textField dataAttribs='{"text":"Hello", "class": "text-field"}'}}
    {{textField }}
    </form-->
<form id="myForm" onsubmit="">
  <input id="textInput" type="text"></input>
  <button type="submit" onsubmit="test()">Submit</button>
</form>

