.module-wrapper {
    margin: 0 !important;
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.preset-browser .window-content {
    background: 0 !important;
    margin: 0;
    padding: 0;
}

.preset-browser .list-item {
    background: rgba(0, 0, 0, 20%);
    gap: 2px;
    padding: 5px;
    padding-block: 10px;
    color: var(--color-text-light-0);
    width: 350px;
    overflow: hidden;
}

.preset-browser .list-item p {
    color: var(--color-text-light-5);
    font-size: 12px;
    max-height: 45px;
    overflow-wrap: break-word;
    overflow: hidden;
    width:100%;
}

.preset-browser button {
    background: var(--color-text-light-1);
}

.flex-group {
    display: flex;
}

.select-group {
    display: flex;
}

.deletePreset {
    z-index: 60;
    padding: 10px;
}

.deletePreset:hover, .preset-browser .list-item p:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 10px rgba(230, 149, 0, 1))
}

.preset-browser {
    height: max-content !important;
}

