<form class="preset-browser">
    {{#each presets}}
    <div id="{{id}}" class="list-item">
        <div class="flex-group">
            <div class="select-group">
                <t>{{title}}</t>
                <p>{{stringified}}</p>
            </div>
            {{#if (noModules id)}}
            <div class="deletePreset">
                <svg width="20" height="25" viewBox="0 0 74 85" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M6.0625 5.625C4.57066 5.625 3.13992 6.21763 2.08502 7.27252C1.03013 8.32742 0.4375 9.75816 0.4375 11.25V16.875C0.4375 18.3668 1.03013 19.7976 2.08502 20.8525C3.13992 21.9074 4.57066 22.5 6.0625 22.5H8.875V73.125C8.875 76.1087 10.0603 78.9702 12.17 81.0799C14.2798 83.1897 17.1413 84.375 20.125 84.375H53.875C56.8587 84.375 59.7202 83.1897 61.8299 81.0799C63.9397 78.9702 65.125 76.1087 65.125 73.125V22.5H67.9375C69.4293 22.5 70.8601 21.9074 71.915 20.8525C72.9699 19.7976 73.5625 18.3668 73.5625 16.875V11.25C73.5625 9.75816 72.9699 8.32742 71.915 7.27252C70.8601 6.21763 69.4293 5.625 67.9375 5.625H48.25C48.25 4.13316 47.6574 2.70242 46.6025 1.64752C45.5476 0.592632 44.1168 0 42.625 0L31.375 0C29.8832 0 28.4524 0.592632 27.3975 1.64752C26.3426 2.70242 25.75 4.13316 25.75 5.625H6.0625ZM22.9375 28.125C23.6834 28.125 24.3988 28.4213 24.9262 28.9488C25.4537 29.4762 25.75 30.1916 25.75 30.9375V70.3125C25.75 71.0584 25.4537 71.7738 24.9262 72.3012C24.3988 72.8287 23.6834 73.125 22.9375 73.125C22.1916 73.125 21.4762 72.8287 20.9488 72.3012C20.4213 71.7738 20.125 71.0584 20.125 70.3125V30.9375C20.125 30.1916 20.4213 29.4762 20.9488 28.9488C21.4762 28.4213 22.1916 28.125 22.9375 28.125V28.125ZM37 28.125C37.7459 28.125 38.4613 28.4213 38.9887 28.9488C39.5162 29.4762 39.8125 30.1916 39.8125 30.9375V70.3125C39.8125 71.0584 39.5162 71.7738 38.9887 72.3012C38.4613 72.8287 37.7459 73.125 37 73.125C36.2541 73.125 35.5387 72.8287 35.0113 72.3012C34.4838 71.7738 34.1875 71.0584 34.1875 70.3125V30.9375C34.1875 30.1916 34.4838 29.4762 35.0113 28.9488C35.5387 28.4213 36.2541 28.125 37 28.125V28.125ZM53.875 30.9375V70.3125C53.875 71.0584 53.5787 71.7738 53.0512 72.3012C52.5238 72.8287 51.8084 73.125 51.0625 73.125C50.3166 73.125 49.6012 72.8287 49.0738 72.3012C48.5463 71.7738 48.25 71.0584 48.25 70.3125V30.9375C48.25 30.1916 48.5463 29.4762 49.0738 28.9488C49.6012 28.4213 50.3166 28.125 51.0625 28.125C51.8084 28.125 52.5238 28.4213 53.0512 28.9488C53.5787 29.4762 53.875 30.1916 53.875 30.9375V30.9375Z"
                        fill="white" />
                </svg>

            </div>
            {{/if}}
        </div>
    </div>
    {{/each}}

    <button type="submit" name="add" class="addButton">
        <i class="">+ Add Preset</i>
    </button>

    <footer class="form-footer">
        <button type="submit" name="submit" onclick="">
            <i class="fas fa-save"></i>
        </button>
    </footer>
</form>