<form class="preset-browser">
    {{#each presets}}
    <div class="list-item" onclick="window.selectPreset({{json modules}})"> {{title}} <p>{{stringified}}</p> <button onclick="{{console.log(this)}}">elete</button>
    </div>
    {{/each}}

    <button type="submit" name="add" onclick="window.makePreset()">
        <i class="">+ Add</i>
    </button>

    <footer class="form-footer">
        <button type="submit" name="submit" onclick="">
            <i class="fas fa-save"></i>
        </button>
    </footer>
    <form>