<form>
    {{#each modules}}
    <button onclick="console.log('argh')"> {{title}}</button>
    {{/each}}
    <footer class="form-footer">
        <button type="submit" name="submit">
            <i class="fas fa-save"></i> {{localize "FXMASTER.SaveChanges"}}
        </button>
    </footer>
<form>