<form class="preset-browser">
    {{#each presets}}
    <div class="list-item" onclick="makePreset => {
    //modules = game.modules
    const modules = game.settings.get("core", "moduleConfiguration")
    const presetsObj = game.settings.get("modulePresets", "presets")
    const stringified = JSON.stringify(modules)

    const newPreset = [{title:"test", content: {modules}, stringified}]
    const testtt = presetsObj.presets.concat(newPreset)

    console.log(testtt)

    game.settings.set("modulePresets", "presets", testtt)
}"> {{title}} <p>{{stringified}}</p></div>
    {{/each}}
    <footer class="form-footer">
        <button type="submit" name="submit">
            <i class="fas fa-save"></i> {{localize "FXMASTER.SaveChanges"}}
        </button>
    </footer>
<form>