<form>
    {{#each obj}}
    <button> {{title}}</button>
    {{/each}}
    <footer class="form-footer">
        <button type="submit" name="submit">
            <i class="fas fa-save"></i> {{localize "FXMASTER.SaveChanges"}}
        </button>
    </footer>
<form>